<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" method="post">
      <label for="">Ten</label>
      <input type="text" name="name" value="">

      <br>

      <label for="">So dien thoai</label>
      <input type="text" name="phone" value="">

      <br>

      <label for="">Nam sinh</label>
      <input type="number" name="yob" value="">

      <br>

      <label for="">Gioi tinh</label>
      <input type="radio" name="gender" value="1">Nam
      <input type="radio" name="gender" value="0">Nu

      <br>

      <label for="">Chieu cao (cm)</label>
      <input type="number" name="height" value="">
      <input type="submit" value="Dang ky">

    </form>

    {% for message in get_flashed_messages() %}
      <p>{{message}}</p>
    {% endfor %}

  </body>
</html>
